.claude/
.env
__pycache__
.coverage
.pytest_cache
.mypy_cache
.import_linter_cache
dist

src/finecode/_version.py
src/finecode.egg-info

.venvs
finecode_config_dump/
build/
.omc/
finecode-user.toml
# docs build
site/

presets/*
!presets/fine_audit_code
!presets/fine_check_imports
!presets/fine_code_hierarchy
!presets/fine_dist_artifacts
!presets/fine_docs
!presets/fine_docs_markdown
!presets/fine_envs
!presets/fine_format
!presets/fine_git_hooks
!presets/fine_inlay_hints
!presets/fine_inspect_code
!presets/fine_lint
!presets/fine_logs
!presets/fine_precommit
!presets/fine_python_check_imports
!presets/fine_python_code_hierarchy
!presets/fine_python_format
!presets/fine_python_inlay_hints
!presets/fine_python_lint
!presets/fine_python_recommended
!presets/fine_python_semantic_tokens
!presets/fine_python_src_artifacts
!presets/fine_python_symbol_info
!presets/fine_python_test
!presets/fine_python_type_check
!presets/fine_semantic_tokens
!presets/fine_src_artifacts
!presets/fine_symbol_info
!presets/fine_test
!presets/fine_toml_recommended
!presets/fine_type_check
!presets/fine_wal_events
